* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    background-color: #336FD1;    
}

.header {   
    display: flex;
    width: 100%;
    height: 90px;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:black;
    font-size:18pt;
    background-color:#F8BFC7;
    position: fixed;
    z-index: 10;
}

.links {
    display: flex;
    width: 600px;
    background-color: #F8BFC7;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;    
}

.heroblock {
    display: flex;
    position:relative;
    top: 50px;
    /* background: url('images/background.png');
    background-size: cover;
    background-position: center; */
    align-items: center;
    justify-content: center;
    background-image: "images\background.png"
    height: 150px;
    padding: 50px;

}


.ontheway {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    color:#FEB700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    background-color: #336FD1;    


}



.formblock {   
    display: flex;
    width: 250px;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 24px 24px;
    background-color:#F8BFC7;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 20px;
    color: white;
}

.goodtextarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #29fd2f;
    border-radius: 3px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  }
  
  .goodtextarea .instructions {
    color: #0b24fb;
    font-size: 14px;
    margin-bottom: 30px;
  }

.underformbutton {   
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    font-size:18pt;
}

.underformbutton button {
    padding: 10px 40px;
    background-color:orange;
    border-radius: 20px;
    border: 2px solid white;
    color:aliceblue;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
      
.underformbutton button:hover {
    background-color: #0b24fb;
    }
      
.underformbutton button:active {
    background-color: #f1eeee;
    }



.footer {
    display: flex;
    background-color:#F8BFC7;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 20px;
    color: white;
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 900px;
}